// colors
$primary-color: #d83c40;
$secondary-color: #6757f5;
$blue-color: #2975ff;
$green-color: #32ab41;
$light-green-color: #d6f2db;
$orange-color: #eeb71c;
$light-orange-color: #fff4d6;
$light-red-color: #ffe9eb;
$purple-color: #6657f2;
$light-purple-color: #e5e2ff;
$grey-color: #757575;
$light-grey: #f1f1f1;
$dim-grey: #f7f7f7;
$dark: #000;
$white: #fff;
// Mixin
@mixin transition($property) {
    -webkit-transition: $property; 
    -moz-transition: $property; 
    -ms-transition: $property; 
    -o-transition: $property; 
    transition: $property;
}
@mixin border-radius($property) {
    -webkit-border-radius: $property; 
    -moz-border-radius: $property; 
    -ms-border-radius: $property; 
    -o-border-radius: $property; 
    border-radius: $property;
}
@mixin box-shadow($property) {
    -webkit-box-shadow: $property; 
    -moz-box-shadow: $property; 
    -ms-box-shadow: $property; 
    -o-box-shadow: $property; 
    box-shadow: $property;
}
// extend
%flex{
    display: -webkit-box; 
    display: -moz-box; 
    display: -ms-flexbox; 
    display: -webkit-flex; 
    display: flex;
}
.sidebar{ 
    width: 65px; 
    height: 100%; 
    overflow: hidden; 
    position: fixed; 
    top: 0; 
    left: 0; 
    background-color: #313541;
}
.main-content{ 
    width: -webkit-calc(100% - 65px); 
    width: -moz-calc(100% - 65px); 
    width: calc(100% - 65px); 
    height: 100%; 
    padding: 96px 40px 24px; 
    margin-left: 65px; 
    background-color: #ebebeb; 
    position: relative;
    @media only screen and (max-width: 979px){
        padding-right: 20px; 
        padding-left: 20px; 
        padding-top: 68px;
    }
    @media only screen and (max-width: 479px){
        padding-right: 10px;
        padding-left: 10px;
    }
}
.sidebar-menu{
    list-style-type: none; 
    display:flex; 
    align-items:center; 
    flex-flow: column; 
    padding-top: 33px;
    li{
        margin-bottom: 19px; 
        font-size: 20px; 
        line-height: 22px;
        a{
            color: $white; 
            padding: 10px 10px; 
            display: block; 
            @include transition(all .25s ease);
            @include border-radius(4px);
            &:hover{
                background-color: $blue-color; 
                @include box-shadow(0 0 10px rgba(0, 0, 0, 0.5));
            }
        }
        &.menu-active{
            a{
                background-color: $blue-color; 
                @include box-shadow(0 0 10px rgba(0, 0, 0, 0.5)); 
            }
        }
    }
}

.logo {
    width: 100%;
    height: 54px;
    background-color: $primary-color;
    @extend %flex;
    align-items: center;
    justify-content: center;
    img {
      align-self: center;
    }
  }


.dashboard-header{ 
    background-color: $white; 
    width: calc(100% - 65px); 
    padding-right: 20px;
    height: 54px; 
    position: fixed; 
    top: 0; 
    left: 65px; 
    z-index: 3; 
    @extend %flex;
    align-items: center; 
    justify-content: flex-end;
    .user-pic {
        width: 33px;
        height: 33px;
        @include border-radius(100px);
        img {
          height: 33px;
          width: 100%;
          object-fit: cover;
          @include border-radius(100px);
        }
    }
}


.dashboard-body{
    position: relative;
}
.main-content{
    &:before{ 
        content: ''; 
        position: absolute; 
        top: 0; 
        left: 0; 
        width: 100%; 
        height: 172px; 
        background-color: #05161d; 
        @media only screen and (max-width: 639px){
           height: 218px;
        }
    }
}


.tab-points {
    list-style-type: none;
    padding: 0 40px;
    margin-bottom: 20px;
    @media only screen and (max-width: 979px){
        padding: 0;
    }
    li {
      display: inline-block;
      vertical-align: top;
      margin-right: 42px;
      font-size: 15px;
        @media only screen and (max-width: 979px){
            margin: 0;
        }  
        @media only screen and (max-width: 767px){
            font-size: 13px;
        }      
        @media only screen and (max-width: 639px){
            display: block; 
            margin-bottom: 10px;
        }
      &:last-child {
        margin-right: 0;
      }
      a {
        color: #767779;
        padding: 0 18px 14px;
        text-decoration: none;
        position: relative;
        display: block;
        @media only screen and (max-width: 767px){
            padding-right: 13px; 
            padding-left: 13px;
        }
        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 0;
          height: 2px;
          background-color: #34a843;
          @include transition(all .25s ease);
        }
      }
      &:hover a:after, &.active a:after {
        width: 100%;
      }
      &:hover a, &.active a {
        color: $white;
      }
    }
  }


.dashboard-columns{ 
    @extend %flex; 
    justify-content: space-between;
    width: 100%;
    @media only screen and (max-width: 1199px){
        flex-flow: wrap;
    }
    .dashboard-left-column{ 
        width: -webkit-calc(100% - 483px); 
        width: -moz-calc(100% - 483px);
        width: calc(100% - 483px);
        @media only screen and (max-width: 1199px){
            max-width: 100%; width: 100%; margin-left: 0;
        }
    }
    .dashboard-right-column{ 
        max-width: 446px; 
        width: 100%; 
        margin-left: 37px;
        @media only screen and (max-width: 1199px){
            max-width: 100%; width: 100%; margin-left: 0;
        } 
    }
}

.compliance-overview{ 
    @include border-radius(4px);
    background-color: $white; 
    padding: 26px 28px; 
    margin-bottom: 30px;
    &.compliance-block{ 
        min-height: 780px;
        @media only screen and (max-width: 979px){
            min-height: inherit; padding: 20px;
        } 
        @media only screen and (max-width: 639px){
            padding: 15px;
        }
    }
    &.purple-block{
        background-color: $purple-color;
        @include box-shadow(0 0 10px rgba(0, 0, 0, 0.5));
    }
}

.overview-section{ 
    @extend %flex; 
    justify-content: space-between; 
    padding-bottom: 33px; 
    @media only screen and (max-width: 979px){
        flex-flow: wrap; padding-bottom: 20px;
    }
    .overview-heading{ 
        @extend %flex; 
        align-items: center;
        h2{
            font-weight: 300; 
            font-size: 19px; 
            line-height: 22px; 
            color: #898989;
            @media only screen and (max-width: 639px){
                font-size: 16px;
            }
        }
        img{
            margin-right: 15px;
        }
    }
    .overview-filter{
        @media only screen and (max-width: 979px){
            width: 100%;  margin-top: 14px;
        }
        select{
            padding: 15px 12px; 
            border: 1px solid #dcdcdc; 
            @include border-radius(4px);
            text-transform: uppercase; 
            font-size: 13px;
            &.all-entites{
                min-width: 249px; 
                margin-right: 5px;
                @media only screen and (max-width: 979px){
                    width: 50%;
                }
                @media only screen and (max-width: 639px){
                    width: 100%; margin-right: 0; margin-bottom: 5px;
                    min-width: 213px;
                }
                @media only screen and (max-width: 479px){
                    min-width: inherit;
                }
            }
            &.time{ 
                min-width: 165px; 
                border-color: $secondary-color; 
                background-color: $secondary-color; 
                color: $white; 
                @media only screen and (max-width: 979px){
                    width: 49%;
                }
                @media only screen and (max-width: 639px){
                    width: 100%; margin-right: 0; margin-bottom: 5px;
                }
            }
        }
    }
}

.regulation_blocks{ 
    @extend %flex;
    @media only screen and (max-width: 979px){
        flex-flow: wrap;
    }
    .block{ 
        width: 100%; 
        margin-right: 8px;
        @media only screen and (max-width: 979px){
            margin-right: 0;
            display: -webkit-box; 
            display: -moz-box; 
            display: -ms-flexbox; 
            display: -webkit-flex; 
            display: flex;
            justify-content: space-between;
        }  
        @media only screen and (max-width: 639px){
            flex-flow: wrap;
        }
        &:last-child{
            margin-right: 0;
        }
        .blocks{ 
            padding: 15px 12px; 
            background-color: $light-grey; 
            border: 1px solid $light-grey; 
            @include border-radius(6px);
            margin-bottom: 8px;
            @extend %flex;
            justify-content: space-between; 
            align-items: center;
            @media only screen and (max-width: 979px){
                width: 49.5%;
            }
            @media only screen and (max-width: 639px){
                width: 100%;
            }
            &.green-box{ 
                background-color: $light-green-color; 
                border-top: 2px solid $green-color;
                text-transform: uppercase;
                h5{ 
                    color: $green-color; 
                    font-size: 14px; 
                    line-height: 1;
                }
            }
            
            &.orange-box{ 
                background-color: $light-orange-color; 
                border-top: 2px solid $orange-color; 
                text-transform: uppercase;
                h5{ 
                  color: $orange-color; 
                  font-size: 14px; 
                  line-height: 1;
                }
            }
            
            &.red-box{ 
                background-color: $light-red-color; 
                border-top: 2px solid $primary-color;
                text-transform: uppercase;
                h5{  
                  color: $primary-color; 
                  font-size: 14px; 
                  line-height: 1;
                }
            }            
            &.purple-box{ 
                background-color: $light-purple-color; 
                border-top: 2px solid $purple-color; 
                text-transform: uppercase;
                h5{
                  color: $purple-color; 
                  font-size: 14px; 
                  line-height: 1;
                }
            }            
            &.grey-box{ 
                background-color: $light-grey; 
                border-top: 2px solid $grey-color; 
                text-transform: uppercase;
            }
            &.standard-block{ 
                background-color: transparent; 
                border-color: #1866d5; 
                @include box-shadow(0 0 10px rgba(0, 0, 0, 0.2));
            }
            p{
                font-size: 11px; line-height: 1;
            }            
            h5{
                .fa{
                    margin-right: 5px;
                }
            }
        }
    }
 }
 .num-block{
    font-size: 11px; 
    line-height: 1;
    button{ 
        padding: 10px; 
        background-color: transparent; 
        border: 0; 
        color: $purple-color; 
        @include border-radius(6px);
        &:hover{ 
            background-color: $dim-grey; 
        }
    }
}

.overview-points{ 
    list-style-type: none; 
    padding-top: 52px;
    @media only screen and (max-width: 979px){
        padding-top: 20px;
    }
    li{
        padding: 5px 0; 
        border-bottom: 1px solid #ececec; 
        @extend %flex; 
        align-items: center; 
        justify-content: space-between;
        @media only screen and (max-width: 639px){
            flex-flow: wrap;
        }
    }
}


.workroom-trend{ 
    @extend %flex;
    @media only screen and (max-width: 979px){
        flex-flow: wrap;
    } 
    .half-column{ 
        flex-basis: 50%; 
        margin-right: 30px;  
        @extend %flex; 
        flex-flow: column; 
        @include border-radius(4px);
        background-color: $white; 
        padding: 26px 28px; 
        margin-bottom: 30px;
        @media only screen and (max-width: 979px){
            flex-basis: 100%; 
            margin-right: 0;
        }
        &:nth-child(2n + 2){ 
            margin-right: 0; 
        }
    }
    .graph-block {
        img{ 
            width: 100%;
        }
    }
    .workroom-blocks{ 
        list-style-type: none; 
        max-height: 317px; 
        overflow: hidden; 
        position: relative; 
        text-align: left;
        &:before{ 
            content: ''; 
            position: absolute; 
            bottom: 0; 
            left: 0; 
            z-index: 1; 
            width: 100%; 
            height: 20%;
            background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);        
            background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
            background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); 
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
        }
        li{ 
            position: relative; 
            @include border-radius(6px);
            background-color: $dim-grey; 
            padding: 13px 15px;
            margin-left: 20px; 
            margin-bottom: 8px; 
            @extend %flex;
            @media only screen and (max-width: 639px){
                flex-flow: wrap;
            }
            &:before{ 
                content: ''; 
                position: absolute; 
                top: 8px; 
                left: -19px; 
                width: 10px; 
                height: 10px; 
                background-color: $dim-grey; 
                @include border-radius(100px); 
            }
            &:after{ 
                content: ''; 
                position: absolute; 
                top: 5px; 
                left: -9px; 
                width: 0; 
                height: 0; 
                border-width: 8px 9px 8px 0;
                border-style: solid; 
                border-color: transparent $dim-grey transparent transparent;
            }
            &:last-child{ 
                margin-bottom: 0;
            }
            .workroom-comment{ 
                width: 75%; 
                @media only screen and (max-width: 639px){
                    width: 100%;
                }
                p{
                  font-size: 11px;
                  img{
                    display: inline-block;
                    vertical-align: middle;
                  }
                }
            }
            .workroom-date{
                 width: 25%;
                 text-align: right;
                 @media only screen and (max-width: 639px){
                    width: 100%;
                 }
                 p{
                   font-size: 11px;
                   color: $dark; 
                   text-transform: uppercase;
                 }
            }
            .close-group {
                a{ 
                  margin-left: 2%;
                  color: $purple-color;
                    .fa-times{ 
                      color: $primary-color; 
                    }
                } 
            }
        }
    }
}



.text-center{ 
    text-align: center;
}
.view-data-block {
    p{
      @extend %flex;
      justify-content: space-between; 
    }
}

.blank-block{ 
    min-height: 150px; 
}

.device-section{ 
    list-style-type: none; 
    li{ 
        @extend %flex;
        align-items: center; 
        margin-bottom: 12px;
        @media only screen and (max-width: 639px){
            flex-flow: wrap; 
        }
        .time-block{ 
            width: 15%; 
            padding-right: 16px; 
            word-break: break-all; 
            font-size: 14px; 
            line-height: 16px; 
            text-transform: uppercase; 
            color: #000;
            @media only screen and (max-width: 639px){
                width: 100%; 
                padding-right: 0; 
                text-align: center; 
                margin-bottom: 10px;
                br{ 
                  display: none; 
                }
            }
        }
        .device-content{ 
            @extend %flex; 
            align-items: center; 
            width: 85%; 
            padding: 17px 15px;
            @media only screen and (max-width: 639px){
               width: 100%; 
            }
            @media only screen and (max-width: 479px){
                flex-flow: wrap; text-align: center; justify-content: center;
            }
            &.green-box{ 
                border-top: 0; 
                border-left: 4px solid $green-color;
            }
            &.orange-box{
                border-top: 0; 
                border-left: 4px solid $orange-color; 
            } 
            &.red-box{ 
                border-top: 0; 
                border-left: 4px solid $primary-color; 
            }
            &.grey-box{ 
                border-top: 0; 
                border-left: 4px solid $grey-color; 
            }
            p{
              font-size: 12px; 
              line-height: 16px;
            }
        }
        .device-contents{ 
            margin-left: 22px;
            @media only screen and (max-width: 479px){
                margin: 10px 0 0;
            } 
        }
    }
}
.calendar-btn{
    margin-left: 15%; 
    margin-top: 22px;
    @media only screen and (max-width: 639px){ 
        margin: 0 auto;
    }
}


.recent-activity-block{ 
    min-height: 760px;
    .activities-block{ 
        padding-left: 50px; 
        margin-bottom: 28px; 
        list-style-type: none; 
        position: relative;
        li{ 
            position: relative; 
            padding-bottom: 20px;
            &:before{ 
                content: ''; 
                position: absolute; 
                top: 0; 
                left: -35px; 
                width: 1px; 
                height: 100%; 
                background-color: #ececec; 
            }
            &:last-child{
                &:before{ 
                    display: none; 
                }
            }
            .small-circle{ 
                position: absolute; 
                left: -52px; 
                top: 0; 
                width: 33px;
                &:before{ 
                    content: ''; 
                    position: absolute; 
                    top: 0; 
                    left: 12px; 
                    width: 10px; 
                    height: 10px; 
                    @include border-radius(100px);
                    background-color: #ececec;
                }
                img{ 
                    position: relative; 
                    z-index: 1;
                }
            }
            p{
                color: $purple-color; 
                font-size: 12px; 
                line-height: 16px;  
            }
        }
    }
}