<!--The content below is only a placeholder and can be replaced.-->
	<div class="wrapper">
		<div class="sidebar">
			<div class="logo">
				<img src="../assets/images/logo.jpg" alt="vcomply">
			</div><!-- logo -->
			<ul class="sidebar-menu">
				<li class="menu-active">
					<a href="javascript:void(0)"><i class="fa fa-tachometer"></i></a>
				</li>
				<li>
					<a href="javascript:void(0)"><i class="fa fa-university"></i></a>
				</li>
				<li>
					<a href="javascript:void(0)"><i class="fa fa-user-circle-o"></i></a>
				</li>
			</ul><!-- sidebar-menu -->
		</div><!-- sidebar -->
		<div class="main-content">
			<div class="dashboard-header">
				<div class="user-pic">
					<img src="../assets/images/profile-pic.png" alt="">
				</div><!-- user-pic -->
			</div><!-- dashboard-header -->
			<div class="dashboard-body">
				<ul class="tab-points">
					<li class="active"><a href="javascript:void(0)">Overview</a></li>
					<li><a href="javascript:void(0)">My Responsibilities Overview</a></li>
					<li><a href="javascript:void(0)">CC'ed Responsibilities Overview</a></li>
				</ul><!-- tab-points -->
				<div class="dashboard-columns">
					<div class="dashboard-left-column">
						<div class="compliance-overview compliance-block">
							<div class="overview-section">
								<div class="overview-heading">
									<img src="../assets/images/compliance-icon.jpg" alt="">
									<h2>Compliance Overview</h2>
								</div>
								<div class="overview-filter">
									<select name="" class="all-entites">
										<option value="">All Entities</option>
										<option value="">Entity 1</option>
										<option value="">Entity 1</option>
										<option value="">Entity 2</option>
									</select>
									<select name="" class="time">
										<option value="">All Time</option>
										<option value="">00:00 am</option>
										<option value="">00:01 am</option>
										<option value="">00:02 am</option>
									</select>
								</div>
							</div><!-- overview-section -->
							<div class="regulation_blocks">
								<div class="block">
									<div class="blocks">
										<p>Regulations</p>
										<div class="num-block">
											<span class="green-text">100%</span> -
											<span class="orange-text">0%</span> -
											<span class="red-text">0%</span>
										</div>
									</div>
									<div class="blocks green-box">
										<p>Completed on Time</p>
										<h5>74%</h5>
									</div>
								</div><!-- block -->
								<div class="block">
									<div class="blocks standard-block">
										<p>Standards</p>
										<div class="num-block">
											<span class="green-text">71%</span> -
											<span class="orange-text">22%</span> -
											<span class="red-text">7%</span>
										</div>
									</div>
									<div class="blocks orange-box">
										<p>Completed on Time</p>
										<h5>74%</h5>
									</div>
								</div><!-- block -->
								<div class="block">
									<div class="blocks standard-block">
										<p>Internal Controls</p>
										<div class="num-block">
											<span class="green-text">74%</span> -
											<span class="orange-text">6%</span> -
											<span class="red-text">20%</span>
										</div>
									</div>
									<div class="blocks red-box">
										<p>Completed on Time</p>
										<h5>74%</h5>
									</div>
								</div><!-- block -->
								<div class="block">
									<div class="blocks standard-block">
										<p>Others</p>
										<div class="num-block">
											<span class="green-text">100%</span> -
											<span class="orange-text">0%</span> -
											<span class="red-text">0%</span>
										</div>
									</div>
									<div class="blocks purple-box">
										<p>Completed on Time</p>
										<h5><i class="fa fa-thumbs-up"></i>74%</h5>
									</div>
								</div><!-- block -->
							</div><!-- regulation_blocks -->
							<ul class="overview-points">
								<li>
									<p>Company policy regulation Category</p>
									<div class="num-block">
										<span class="green-text">100%</span> -
										<span class="orange-text">0%</span> -
										<span class="red-text">0%</span>
										<button type="button"><i class="fa fa-angle-right"></i></button>
									</div>
								</li>
								<li>
									<p>ACRA Compliance - Accounting And Corporate Regulatory Authority Act</p>
									<div class="num-block">
										<span class="green-text">100%</span> -
										<span class="orange-text">0%</span> -
										<span class="red-text">0%</span>
										<button type="button"><i class="fa fa-angle-right"></i></button>
									</div>
								</li>
								<li>
									<p>ISO 270012003</p>
									<div class="num-block">
										<span class="green-text">100%</span> -
										<span class="orange-text">0%</span> -
										<span class="red-text">0%</span>
										<button type="button"><i class="fa fa-angle-right"></i></button>
									</div>
								</li>
							</ul>
						</div><!-- compliance-overview -->	
						<div class="workroom-trend">
							<div class="half-column">
								<div class="overview-section">
									<div class="overview-heading">
										<img src="../assets/images/trend-icon.jpg" alt="">
										<h2>Trend Analysis</h2>
									</div>
									<div class="overview-filter">
										<select name="">
											<option value="">All Categories</option>
											<option value="">Category 1</option>
											<option value="">Category 2</option>
											<option value="">Category 3</option>
										</select>
									</div>
								</div>
								<div class="graph-block">
									<img src="../assets/images/category-graph.jpg" alt="">
								</div>
							</div>
							<div class="half-column">
								<div class="overview-section">
									<div class="overview-heading">
										<img src="../assets/images/work_updates-icon.jpg" alt="">
										<h2>Workroom Updates</h2>
									</div>
								</div>
								<div class="workroom-block text-center">
									<ul class="workroom-blocks">
										<li>
											<div class="workroom-comment">
												<p><span class="purple-text">Mike Williams</span> mentioned you in a comment:</p>
												<p>
													<img src="../assets/images/author-pic.jpg" alt="" class="author-pic"> Nick Holden: Tomorrow I will share some details with you
												</p>
											</div><!-- workroom-comment -->
											<div class="workroom-date">
												<p>13-May-2019</p>
												<span class="close-group">
													<a href="javascript:void(0)"><i class="fa fa-pencil-square-o"></i></a>
													<a href="javascript:void(0)"><i class="fa fa-times"></i></a>
												</span>
											</div><!-- workroom-date -->
										</li>
										<li>
											<div class="workroom-comment">
												<p><span class="purple-text">Mike Williams</span> mentioned you in a comment:</p>
												<p>
													<img src="../assets/images/author-pic.jpg" alt="" class="author-pic"> Nick Holden: Tomorrow I will share some details with you
												</p>
											</div><!-- workroom-comment -->
											<div class="workroom-date">
												<p>13-May-2019</p>
												<span class="close-group">
													<a href="javascript:void(0)"><i class="fa fa-pencil-square-o"></i></a>
													<a href="javascript:void(0)"><i class="fa fa-times"></i></a>
												</span>
											</div><!-- workroom-date -->
										</li>
										<li>
											<div class="workroom-comment">
												<p><span class="purple-text">Mike Williams</span> mentioned you in a comment:</p>
												<p>
													<img src="../assets/images/author-pic.jpg" alt="" class="author-pic"> Nick Holden: Tomorrow I will share some details with you
												</p>
											</div><!-- workroom-comment -->
											<div class="workroom-date">
												<p>13-May-2019</p>
												<span class="close-group">
													<a href="javascript:void(0)"><i class="fa fa-pencil-square-o"></i></a>
													<a href="javascript:void(0)"><i class="fa fa-times"></i></a>
												</span>
											</div><!-- workroom-date -->
										</li>
										<li>
											<div class="workroom-comment">
												<p><span class="purple-text">Mike Williams</span> mentioned you in a comment:</p>
												<p>
													<img src="../assets/images/author-pic.jpg" alt="" class="author-pic"> Nick Holden: Tomorrow I will share some details with you
												</p>
											</div><!-- workroom-comment -->
											<div class="workroom-date">
												<p>13-May-2019</p>
												<span class="close-group">
													<a href="javascript:void(0)"><i class="fa fa-pencil-square-o"></i></a>
													<a href="javascript:void(0)"><i class="fa fa-times"></i></a>
												</span>
											</div><!-- workroom-date -->
										</li>
										<li>
											<div class="workroom-comment">
												<p><span class="purple-text">Mike Williams</span> mentioned you in a comment:</p>
												<p>
													<img src="../assets/images/author-pic.jpg" alt="" class="author-pic"> Nick Holden: Tomorrow I will share some details with you
												</p>
											</div><!-- workroom-comment -->
											<div class="workroom-date">
												<p>13-May-2019</p>
												<span class="close-group">
													<a href="javascript:void(0)"><i class="fa fa-pencil-square-o"></i></a>
													<a href="javascript:void(0)"><i class="fa fa-times"></i></a>
												</span>
											</div><!-- workroom-date -->
										</li>
									</ul>
									<a href="javascript:void(0)" class="btn">View More</a>
								</div><!-- workroom-block -->
							</div>
						</div>
						<div class="compliance-overview blank-block">
						</div>	
					</div><!-- dashboard-left-column -->
					<div class="dashboard-right-column">
						<div class="compliance-overview purple-block view-data-block">
							<p>View Data From Account Creation Date -Aug 2017 <i class="fa fa-angle-right"></i></p>
						</div><!-- compliance-overview -->
						<div class="compliance-overview">
							<div class="overview-section">
								<div class="overview-heading">
									<img src="../assets/images/work_updates-icon.jpg" alt="">
									<h2>Tuesday</h2>
								</div>
								<div class="overview-filter">
									<a href="javascript:void(0)" class="btn">Sync to your device calendar</a>
								</div>
							</div>
							<ul class="device-section">
								<li>
									<div class="time-block">
										9:30 <br /> am
									</div>
									<div class="device-content green-box green-text">
										<img src="../assets/images/device-pic1.jpg" alt="">
										<div class="device-contents">
											<p>[CID-18090028]</p>
											<p>Dily Achievement Plan</p>
										</div>
									</div>
								</li>
								<li>
									<div class="time-block">
										9:30 <br /> am
									</div>
									<div class="device-content orange-box orange-text">
										<img src="../assets/images/device-pic2.jpg" alt="">
										<div class="device-contents">
											<p>[CID-18090028]</p>
											<p>Dily Achievement Plan</p>
										</div>
									</div>
								</li>
								<li>
									<div class="time-block">
										9:30 <br /> am
									</div>
									<div class="device-content green-box green-text">
										<img src="../assets/images/device-pic3.jpg" alt="">
										<div class="device-contents">
											<p>[CID-18090028]</p>
											<p>Dily Achievement Plan</p>
										</div>
									</div>
								</li>
								<li>
									<div class="time-block">
										9:30 <br /> am
									</div>
									<div class="device-content red-box red-text">
										<img src="../assets/images/device-pic4.jpg" alt="">
										<div class="device-contents">
											<p>[CID-18090028]</p>
											<p>Dily Achievement Plan</p>
										</div>
									</div>
								</li>
								<li>
									<div class="time-block">
										9:30  <br /> am
									</div>
									<div class="device-content grey-box grey-text">
										<img src="../assets/images/device-pic5.jpg" alt="">
										<div class="device-contents">
											<p>[CID-18090028]</p>
											<p>Dily Achievement Plan</p>
										</div>
									</div>
								</li>
							</ul><!-- device-section -->
							<a href="javascript:void(0)" class="btn border-btn calendar-btn">View Calendar</a>
						</div>
						<div class="compliance-overview recent-activity-block">
							<div class="overview-section">
								<div class="overview-heading">
									<img src="../assets/images/calendar-icon.jpg" alt="">
									<h2>Recent Activities</h2>
								</div>
							</div>
							<ul class="activities-block">
								<li>
									<div class="small-circle">
									</div>
									<div class="activity-content">
										<p>Yesterday - 13 - May - 2019</p>
									</div>
								</li>
								<li>
									<div class="small-circle">
										<img src="../assets/images/activity-icon1.jpg" alt="">
									</div>
									<div class="activity-content">
										<p>Rakib Molla <span class="green-text">completed</span> a <span class="grey-text">responsibility</span> [CID-17060003]</p>
										<p>Weekly database backup</p>
									</div>
								</li>
								<li>
									<div class="small-circle">
										<img src="../assets/images/activity-icon2.jpg" alt="">
									</div>
									<div class="activity-content">
										<p><span class="orange-text">Michelle</span> <span class="green-text">completed</span> a <span class="grey-text">responsibility</span> [CID-17060003]</p>
										<p>Weekly database backup</p>
									</div>
								</li>
							</ul>
							<ul class="activities-block">
								<li>
									<div class="small-circle">
									</div>
									<div class="activity-content">
										<p>Yesterday - 13 - May - 2019</p>
									</div>
								</li>
								<li>
									<div class="small-circle">
										<img src="../assets/images/activity-icon1.jpg" alt="">
									</div>
									<div class="activity-content">
										<p>Rakib Molla <span class="green-text">completed</span> a <span class="grey-text">responsibility</span> [CID-17060003]</p>
										<p>Weekly database backup</p>
									</div>
								</li>
								<li>
									<div class="small-circle">
										<img src="../assets/images/activity-icon2.jpg" alt="">
									</div>
									<div class="activity-content">
										<p><span class="orange-text">Michelle</span> <span class="green-text">completed</span> a <span class="grey-text">responsibility</span> [CID-17060003]</p>
										<p>Weekly database backup</p>
									</div>
								</li>
							</ul>
						</div>
					</div><!-- dashboard-right-column -->
				</div><!-- dashboard-columns -->
			</div><!-- dashboard-body -->
		</div><!-- main-content -->
	</div><!-- wrapper -->